{% extends "layout.html" %}

{% block body %}
<h3>Hakkında</h3>
<hr>
<h5>Tam Otonom Mobil Radar Sistemi</h5>
<p>Bu projenin asıl amacı olan radar hız denetleme sistemlerini tam otonom hale getirmektir. Şu anda radar hız denetleme sistemleri kamera ve radar yardımıyla plaka ve hız verisi elde edildikten sonra bir memur tarafından el ile makbuz kesilerek ceza yazılmaktadır. Bu proje gerek insan yükünü azaltmak gerek uluşabilecek aksaklıkların ve hataların önüne geçmek için kullanılması amaçlanmaktadır.</p>
{% endblock body %}